
      <div class="jumbotron">
        <h1>Help wanted!</h1>
        <p class="lead">Wanna help? Post jobs or provide workshops<br>Looking for help? Find jobs and take free courses!</p>

        <p><a class="btn btn-lg btn-success" href="#" role="button">Find stuff</a></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Post stuff</a></p>
      </div>

      <form action="/jobs" method="GET" enctype="multipart/form-data">

        <div class="form-group">
          <label for="inputfind">Looking for a job</label>
          <input type="text" name="find_job" class="form-control" id="inputfind" placeholder="e.g. Android Developer">
        </div>
        <br>
      <button type='submit' class='btn btn-primary'>Find Job</button>
      </form>
